/*==Vars.css */
$black: #141414;
$white: #fff;
$darkwhite: #b9b9b9;
$roxo: #2b0f26;
$pink: #fd29dd;
$yellow: #ffff00;
$grey: #808083;
$darkgrey: #1f1f1f;
$pcolor: #797979;
$mediumgrey: #3b3b3b;
$cyan: #3bfbfb;
$blue: #5fcad9;

$selection_color: #00bf80;
$link: $yellow;
$link_hover: $yellow;
