/*== header.css*/
header {
  width: 100%;
  height: auto;
  background: transparent;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;
  transition: all 300ms ease-in-out;
  padding: 0 30px;
  &.active{
    background: $black;
  }
  &.grad{
    background: $black;
  }

  .logo{
    flex-basis: 130px;
    padding: 30px 0;
    img {
      width: 100%;
      max-width: 250px;
      height: auto;
      transition: all 300ms ease-in-out;
      @include respond-to-max(1400){
        max-width: 95px;
      }
      @include respond-to-max(700){
        max-width: 165px;
      }
      @include respond-to-max(500){
        max-width: 115px;
      }
    }
  }
  &.nav-open{
    nav{
      ul{
        li{
          a{

          }
        }
      }
    }
  }
  nav{
    transform: matrix(1, 0, 0, 1, 0, 0);
    height: 100%;
    margin-right: -1px;
    padding: 0 15px 0 30px;
    flex: 1;
    background: transparent;
    box-shadow: none;
    display: flex;
    float: right;
    justify-content: flex-end;
    transition: all 300ms ease-in-out;
    @include respond-to-max(1220){
      display: none;
    }

    ul{
      width: 100%;
      max-width: 800px;
      height: inherit;
      display: flex;
      align-items: stretch;
      float: right;
      margin-right: 120px;
      transition: all 300ms ease-in-out;
      li{
        height: inherit;
        flex: 1 1 auto;
        list-style: none;
        display: inline-block;
        a{
          font-size: 11px;
          margin: 0;
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          opacity: .8;
          position: relative;
          &.ani:before{
            content: '.';
            position: absolute;
            color: transparent;
            width: 1px;
            height: 30px;
            background: $white;
            top: -60px;
            left: 0;
            right: 0;
            margin: auto;
            transition: all 300ms ease-in-out;
          }
          &:hover{
            //color: $pink;
            color: $white;
            background: transparent;
            &.ani:before{
              top: -30px;
            }
          }
          @include respond-to-max(1400){
            font-size: 9px;
          }
        }
      }
    }
    .icons-menu{
      display: flex;
      align-items: center;
      float: right;
      position: absolute;
      margin-top: 6px;
      transition: all 300ms ease-in-out;
      &.grad{
        background: linear-gradient(45deg, rgba(20,20,20,0.8) 0%, rgba(20,20,20,1) 100%);
        transition: all 300ms ease-in-out;
      }
      ul{
        list-style: none;
        display: flex;
        align-items: stretch;
        margin-right: 0;
        transition: all 300ms ease-in-out;
        li{
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 7px;
          display: none;
          opacity: .3;
          transition: all 300ms ease-in-out;
          &:hover{
            opacity: 1;
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3){
            display: flex;
          }
          &.li-icons{
            &.ative{
              display: flex;
              margin-left: 16px;
            }
          }
        }
      }
      .tree-dots{
        margin: 0;
        padding: 0;
        margin-top: -16px;
        margin-left: 10px;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .buttons{
    padding-right: 35px;
    @include respond-to-max(1400){
      padding-right: 5px;
    }
    @include respond-to-max(770){
      display: none;;
    }
    .btn{
      margin: 0 15px 0 0;
      @include respond-to-max(1500){
        padding: 20px;
        font-size: 10px;
      }
      &.first{
        &:hover{
          color: $white;
          background: $pink;
          border-color: $pink;
        }
      }
      &.white{
        color: $black;
        background: $white;
        &:hover{
          color: $black;
          background: $cyan !important;
          border-color: $cyan;
        }
      }
    }
  }
  .flag-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .border{
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .border-img{
        width: 52px;
        height: 52px;
        border: 1px solid #707070;
        display: block;
        position: relative;
        border-radius: 50%;
        margin-right: 15px;
        @include respond-to-max(500){
          width: 35px;
          height: 35px;
        }
        img{
          border-radius: 50%;
          overflow: hidden;
          margin: auto;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      .badge{
        background: transparent;
      }
    }
    .dropdown-content{
      background: #fff;
      top: 23px !important;
      right: 23px;
      left: auto !important;
      min-width: 75px;
      @include respond-to-max(700){
        min-width: 60px;
      }
      li{
        a{
          color: #000;
        }
      }
    }

  }
}

header.nav-open{

  nav{
    right: 0;
    box-shadow: -20px 0px 20px 0 rgba(0, 0, 0, 0.0784313725490196);
  }

}
